body {
  background-color: rgb(206, 206, 206);
  font-size: 1.2em;
}
header {
  background-color: rgb(142, 162, 198);
  height: 100px;
  border-radius: 8px;
}
header h1 {
  border: 100px;
  width: 300px;
  margin: auto;
}

#nav {
  background-color: rgba(187, 174, 152, 0.5);
  margin-left: 85%;
  font-size: 0.9em;
  font-style: italic bold;
  color: black;
  position: fixed;
  width: 200px;
  border-radius: 8px;
  font-weight: bold;
}

li {
  margin-bottom: 4px;
  margin-top: 14px;
  font-size: 25px;
}

footer {
  background-color: rgb(142, 162, 198);
  height: 100px;
  border-radius: 8px;
}
